<div ng-if="!vm.loading" class="dashboard">
  <h1>Top Heroes</h1>
  <div ng-repeat="hero in vm.topHeroes" class="hero-container col-md-3 col-sm-6">
    <div class="hero" ng-click="vm.goToHeroDetail(hero)">
      <h3 ng-bind="hero.name" ng-attr-title="{{hero.name}}"></h3>
    </div>
  </div>
  <div class="clear"></div>

  <div class="search-box">
    <h4>Hero Search</h4>
    <input ng-model="search" type="text" class="form-control"/>
    <div class="search-result">
      <div ng-if="search" ng-repeat="hero in filteredValues=(vm.heroes | filter: {name: search})"
           class="search-result-item"
           ng-click="vm.goToHeroDetail(hero)"
           ng-bind="hero.name"
           ng-attr-title="{{hero.name}}">
      </div>
      <!-- show message if ng-repeat is empty -->
      <h5 ng-if="filteredValues.length === 0">No results!</h5>
    </div>
  </div>
</div>

<h4 ng-if="vm.loading">Loading...</h4>