<div class="heroes">

  <!-- All heroes list -->
  <div ng-if="vm.heroes" class="all-heroes">
    <h1>My Heroes</h1>
    <ul>
      <li ng-repeat="hero in vm.heroes" ng-class="{'deleting': vm.isInDeletingList(hero)}">
        <span>
          <span ng-bind="hero.id" class="badge"></span>
          <span ng-bind="hero.name" ng-attr-title="{{hero.name}}"></span>
        </span>
        <button ng-click="vm.deleteHero(hero)" ng-disabled="vm.isInDeletingList(hero)" class="btn">delete</button>
      </li>
    </ul>
  </div>

  <!-- Edition mode -->
  <div ng-if="vm.hero" class="hero-edit">
    <h1><i>{{vm.hero.name}}</i> details</h1>
    <form class="form-horizontal">
      <div class="form-group form-group-md">
        <label class="col-sm-2 control-label" for="hero-id">Id</label>
        <div class="col-sm-10">
          <p ng-bind="vm.hero.id" id="hero-id" class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group form-group-md">
        <label class="col-sm-2 control-label" for="hero-name">Name</label>
        <div class="col-sm-10">
          <input ng-model="vm.hero.name" class="form-control" id="hero-name" placeholder="Name" maxlength="80">
        </div>
      </div>
    </form>
    <div class="col-sm-10 col-sm-offset-2">
      <button class="btn btn-primary" ng-click="vm.goBack()">back</button>
      <button class="btn btn-danger" ng-click="vm.saveHero(vm.hero)">save</button>
    </div>
  </div>

  <h4 ng-if="!vm.heroes && !vm.hero">Loading...</h4>
</div>